@charset "UTF-8";

/*
TOP SCREEN DISPLAY ENGINE
*/

/* Resized versions */
.half-size
{
	transform: scale(0.5);
	transform-origin: top left;
}

/*
Screen display engine
*/
.display_engine_screen
{
	position: relative;
	width: 256px;
	height: 192px;
	overflow: hidden;
}

.display_engine_screen > .viewport
{
	position: relative;
	overflow: hidden;
}

.display_engine_screen > .display_engine_locks,
.display_engine_screen > .display_engine_popups,
.display_engine_screen > .display_engine_text,
.display_engine_screen > .display_engine_cr_icons
{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

/* Overlay, not visible by default */
.display_engine_screen > .overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	display: none;
}

/* Generic elements effects */
.transitioning
{
	transition: 0.5s linear;
}

.transitioning-left
{
	transition: left 0.5s linear;
}

.transitioning-transform
{
	transition: transform 0.5s linear;
}

.mirrored
{
	transform: scaleX(-1);
}

/*
Place display engine
*/

.display_engine_place
{
	position: relative;
	overflow: hidden;
}

.display_engine_place > *
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	pointer-events: none;
}

.display_engine_place .clickable
{
	pointer-events: auto;
	cursor: pointer;
}

/*
Character display engine
*/
.display_engine_characters
{
	position: relative;
	height: 100%;
	width: 100%;
}

.display_engine_characters > div
{
	position: absolute;
	top: 0;
	left: 0;
	/* left and top values will be determined by character position align */
}

.display_engine_characters > div > div
{
	position: relative;
	top: 0;
	left: 0;
	/* left and top values will be determined by the character position shift */
}

.display_engine_characters > div > div > img
{
	position: absolute;
	top: 0;
	left: 0;
	/* Left and top values are constants : positioning is handled by the parent element */
}

/*
Popups display engine
*/
.display_engine_popups > *
{
	position: absolute;
	top: 0;
	left: 0;
}

/*
Text display engine
*/

div.textbox
{
	position: relative;
	width: 256px;
	min-height: 72px;
}

div.textbox .name
{
	position: absolute;
	left: 0;
	z-index: 1;
	
	height:12px;
	min-width:44px;
	padding:0 2px;
	overflow: hidden;
	
	border:2px ridge rgba(136,136,136,0.75);
	border-radius:3px;
	
	background:rgba(27,34,108,0.75);
	
	white-space:nowrap;
	font-size:10px;
	line-height: 10px;
	color:white;
}

div.textbox .dialogue
{
	width:244px; min-height:52px;
	margin: 0;
	padding:2px 2px 2px 6px;
	
	border:2px ridge rgba(136,136,136,0.75);
	border-radius:3px;
	
	resize:none;
	background:rgba(0,0,0,0.75);
	
	font:12px aaDialogueText, sans-serif;
	text-align:start;
	white-space: pre-wrap;
	line-height:16px;
	color:white;
}

/* Hide empty name, or both when dialogue is empty */
div.display_engine_text div.textbox .name:empty,
div.display_engine_text div.textbox .dialogue:empty,
div.display_engine_text div.textbox .dialogue:empty + .name
{
	visibility: hidden;
	transition: visibility 0 0.1s; /* Delay transition to avoid blinking if textbox redisplayed right away */
}

/*
TEXTBOX POSITIONING
*/

.display_engine_text div.textbox
{
	position: absolute;
	
	z-index: 5;
}

/* Textbox at the bottom */

.display_engine_text div.textbox.bottom
{
	bottom: 0;
}

div.textbox.bottom .name
{
	top: 0;
}

div.textbox.bottom .dialogue
{
	margin-top: 12px;
}

/* Textbox at the top */

.display_engine_text div.textbox.top
{
	top: 0;
}

div.textbox.top .name
{
	bottom: 0;
}

div.textbox.top .dialogue
{
	margin-bottom: 12px;
}

/*
Locks display engine
*/

.display_engine_locks > div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.display_engine_locks > div > img
{
	position: absolute;
}

/*
CR icons display engine
*/
.display_engine_cr_icons > div
{
	position: absolute;
	transition: width 0.15s linear, height 0.15s linear;
}

.display_engine_cr_icons > div > img
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/*
SCREEN SPECIAL EFFECTS
*/

/* Shaking, with three different animations to make it look messy */
@keyframes shake_1
{  
    from {transform: translateX(1px) translateY(1px);}
    25% {transform: translateX(-1px) translateY(1px);}
    50% {transform: translateX(-1px) translateY(-1px);}
    75% {transform: translateX(1px) translateY(-1px);}
    to {transform: translateX(0) translateY(0);}
}

@keyframes shake_2
{  
    from {transform: translateX(-1px) translateY(-1px);}
    25% {transform: translateX(1px) translateY(-1px);}
    50% {transform: translateX(1px) translateY(1px);}
    75% {transform: translateX(-1px) translateY(1px);}
    to {transform: translateX(0) translateY(0);}
}

@keyframes shake_3
{  
    from {transform: translateX(-1px) translateY(1px);}
    25% {transform: translateX(1px) translateY(1px);}
    50% {transform: translateX(1px) translateY(-1px);}
    75% {transform: translateX(-1px) translateY(-1px);}
    to {transform: translateX(0) translateY(0);}
}

.display_engine_screen.shaking :not(.inner_elt):nth-child(3n+1)
{
	animation: shake_1 0.1s linear infinite;
}

.display_engine_screen.shaking :not(.inner_elt):nth-child(3n+2)
{
	animation: shake_2 0.1s linear infinite;
}

.display_engine_screen.shaking :not(.inner_elt):nth-child(3n+3)
{
	animation: shake_3 0.1s linear infinite;
}

/* Flashing */
@keyframes flash
{
	from {opacity: 0;}
	10% {opacity: 1;}
	to {opacity: 0;}
}

.display_engine_screen.flashing .overlay
{
	display: block;
	background: white;
	opacity: 0;
	animation: flash 0.5s linear;
}
